*{
	marginh:0;
	padding:0;
	porder:0;
}
.clfloat{
	clear:both;
}
.pros-album-banner{
	width:100%;
	height:300px;
	background-color: transparent;
	background: url(../images/1.jpg);
	background-attachment: scroll;
	background-position: 0% 0%;
	background-clip: border-box;
	background-origin: padding-box;
	background-size: 100% 100%, contain;
	background-repeat: no-repeat;
	position:relative;
	border:solid thin #800080;
}
<!--.banner-icon{
	color:#999;
	position:absolute;
	top:35px;
	left:35px;
	font-size:22px;
}-->
.first{
	font-size:20px;
	color:#666;
	position:absolute;
	top:34px;
	left:36px;
}
.pros-album-banner-camera{
	min-width:150px;
	border:solid thin transparent;
	background:rgba(0, 0, 0, 0.0);
	padding:5px 10px 5px 7px;
	position:absolute;
	top:28px;
	left:30px;
	cursor:pointer;
	color:rgba(0, 0, 0, 0.0);
	border:solid thin #fff;
	background:rgba(0, 0, 0, 0.8);
	color:#fff;		
	display:none;
}
.ban-hover{
	border:solid thin #fff;
	background:rgba(0, 0, 0, 0.8);
	color:#fff;	
}
#tooltip1{
	width:190px;
	height:auto;
	background:#fff;
	position:absolute;
	padding:2px 0;
	top:67px;
	left:30px;
	display:none;
}
ul{
	margin-bottom:0;
}
#tooltip1 li{
	font-size:12px;
	list-style:none;
	padding:3px 10px;
	z-index:1000;
}
#tooltip1 li:hover{
	background:#800080;
	color:#fff;
	cursor:pointer;
}
#tooltip1 .i-class{
	padding-right:5px;
	font-size:16px;
}

.trangle{
	position:relative
}
.fa-caret-up{
	position:absolute;
	top:-18px;
	left:15px;
	font-size:25px;
	color:#fff;
}
.albul-form1{
	width:100%;
	position:relative;
	top:0;
	margin:0;
	padding:0
	cursor:pointer;
}
.albul-form1 .upload{
	opasity:0.1;
	border:0;
	cursor:pointer;
}
.albul-form1 .input-tag{
	opasity:0;
	text-align: right;
	-moz-opacity:0 ;
	opacity:0 ;
	filter:alpha(opacity: 0);
	width:100px;
	z-index: 0;
	margin-top:-5px;
	color:rgba(0, 0, 0, 0.0);
	position:absolute;
	top:3;
	cursor:pointer;
}
#cover-photo-change{
	height: auto;
	width:100%;
	left: 0px;
	min-height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 400;
	margin:0 auto;
	display:none;
}
.change-img-div-wrap{
	opacity: 1;
	width: 720px;
	margin:50px auto;
	background-color:#fff;
	border-radius:3px;
}
.change-img-div1{
	background:rgba(225, 225, 225, 1);
	padding:5px 10px;
	border-radius:3px 3px 0 0;
	background-color: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
	color:#000;
	font-weight:700;
	height:45px;
}
.change-img-div1 .close-btn{
	width:20px;
	font-size:18px;
	line-height:33px;
	cursor:pointer;
	color:#800080;
}
.change-img-div1 h5{
	width:80%;
}
.change-img-div2{
	background:#fff;
	padding:10px;
	min-height:40px;

}
.change-img-div2 span{
	min-width:50px;
	dispaly:block;
	cursor:pointer;
}
.change-img-div3{
	background:#fff;
	padding:10px;
	max-height:340px;
	margin:0 10px;
	border-radius:0 0 3px 3px;
	border-top: 1px solid #DCDEE3;
	border-bottom: 1px solid #DCDEE3;
	overflow-x:hidden;
	
}
.images{
	width:23%;
	height:auto;
	margin:5px 1%; 
	display:block;
	float:left;
}
.img{
width:100%;
height:auto;
}
.project-albums{
	display:none;
}
.last-close-btn{
	margin:10px;
	min-width:20px;
	border:none;
	padding:5px 15px;
	border-radius:3px;
	background:#800080;
	color:#fff;
	cursor:pointer;
}
.pros-album-banner-camera .fa-camera{
	padding-right:10px;
}
#remove-cover-photo{
	height: auto;
	width:100%;
	left: 0px;
	min-height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 400;
	display:none;
}
.remove-img-div1{
	background:rgba(225, 225, 225, 1);
	padding:5px 10px;
	border-radius:3px 3px 3px 3px;
	background-color: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
	color:#000;
	width:500px;
	margin:50px auto;
	font-weight:700;
	min-height:93px;
}
.remove-img-div2{
	background:rgba(225, 225, 225, 1);
	padding:10px;
	border-radius:3px 3px 0 0;
	background-color: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
	color:#000;
	font-weight:700;
}
.remove-img-div3.{
	background:rgba(225, 225, 225, 1);
	padding:5px 10px;
	border-radius:3px 3px 0 0;
	background-color: #F6F7F8;
	border-bottom: 1px solid #E5E5E5;
	color:#000;
	font-weight:700;
	padding-top:10px;
}
#remove-cancel-btn{
	min-width:20px;
	border:none;
	border:solid thin #999;
	padding:2px 5px;
	border-radius:2px;
	background:#fff;
	color:#333;
	cursor:pointer;
	margin:10px 0;

}
#remove-cancel-btn:hover{
     box-shadow: 0px 0px 2px 2px #999;
}
.btn-div{
	min-width:80px;
}
#remove-confirm-btn{
	min-width:20px;
	border:none;
	border:solid thin #999;
	padding:2px 5px;
	border-radius:2px;
	background:#fff;
	color:#333;
	cursor:pointer;
	margin:10px 0 10px 5px;
}
#remove-confirm-btn:hover{
     box-shadow: 0px 0px 2px 2px #999;
}
.recent-photos-span{
	height:340px;
}
.project-albums{
	height:340px;
}
#project-album-span:hover{
	text-decoration:underline;
}
.text-color{
	color:#800080;
}
.pros-album-profile{
	width:150px;
	height:150px;
	position:absolute;
	bottom:-25px;
	left:30px;
	border:solid thin #800080;
	cursor:pointer;

}
.profile-hover{
	position:absolute;
	bottom:-24px;
	left:30px;
	width:150px;
	color:#fff;
	height:53px;
	background:rgba(0, 0, 0, 0.8);
	display:block;
	display:none;
	cursor:pointer;
}

.profile-hover .fa-camera{
	font-size:22px;
	margin:15px 10px;

}
.profile-hover h4{
	min-width: 50px;
	font-size: 12px;
	line-height: 18px;
	margin-right: 20%;
}
#profile-photo-change{
	height: auto;
	width:100%;
	left: 0px;
	min-height: 100%;
	position: absolute;
	right: 0px;
	top: 0px;
	z-index: 400;
	margin:0 auto;
	display:none;
}
.change-profile-div-wrap{
    opacity: 1;
    width: 720px;
    margin: 50px auto;
    background-color: #FFF;
    border-radius: 3px;
}
.profile-img-div1 {
    background: #F6F7F8 none repeat scroll 0% 0%;
    padding: 5px 10px;
    border-radius: 3px 3px 0px 0px;
    border-bottom: 1px solid #E5E5E5;
    color: #000;
    font-weight: 700;
    height: 45px;
}
.profile-img-div1 .close-btn{
	width:20px;
	font-size:18px;
	line-height:33px;
	cursor:pointer;
	color:#800080;
}
.profile-img-div2 {
    background: #FFF none repeat scroll 0% 0%;
    padding: 10px;
    max-height: 340px;
    margin: 0px 10px;
    border-radius: 0px 0px 3px 3px;
    overflow-x: hidden;
}
hr{
	margin:15px 20px;
}
#album-wrapper{
	width:97%;
	height:auto;
	margin:50px 1.5% 0 1.5%;
	background:#D3D6DB;
	position:relative;	
}
.album-div{
	width: 100%;
	height: auto;
	padding: 0px 1%;
	background: #D3D6DB none repeat scroll 0% 0%;
	border-bottom: solid thin #999;
}
.album-div h1{
	color: #000;
	font-size: 24px;
	line-height: 28px;
	font-weight: 600;
	padding: 20px 0 0 0;
}
.album-div .fa-camera {
    font-size: 24px;
    margin: 0 10px 0 5px;
	color:#333;
}
.photos-album1{
	display:inline-block;
	min-width:60px;
	font-size:18px;
	padding:5px 25px 5px 0;
}
.photos-album2{
	display:inline-block;
	min-width:60px;
	font-size:18px;
	padding:5px 25px 5px 0;
}
.photos-album3{
	display:inline-block;
	min-width:60px;
	font-size:18px;
	padding:5px 25px 5px 0;
}
.images-div1{
	background:#d3d3d3;
	margin:5px 5px 0 0;
	color:fff;
	position:relative;
}
.images-div1 .fa-caret-up{
	position:absolute;
	top:-21px;
	left:60px;
}
.images-div2{
	background:#d3d3d3;
	margin:5px 5px 0 0;
	color:fff;
	position:relative;
	display:none;
}
.images-div2 .fa-caret-up{
	position:absolute;
	top:-21px;
	left:190px;
}
.images-div3{
	background:#d3d3d3;
	margin:5px 5px 0 0;
	color:fff;
	position:relative;
	display:none;
}
.images-div3 .fa-caret-up{
	position:absolute;
	top:-21px;
	left:320px;
}
.images-album{
	width:13.9%;
	height:auto;
	margin:0px 0px 5px 5px;
	display:block;
	float:left;
}
/*----------------SIDE-MENU----------------*/
button{
	background: none;
	border: none;
	}
.btn-nav:hover{ 
	cursor: pointer; 
}
.btn-nav:hover .bar{ 
	background: #17BEBB; 
}
.bar{
	display: block;
	height: 5px;
	width: 50px;
	background: #fff;
	margin: 10px auto;
}
.btn-nav{
	display: block;
	padding: 15px 0;
	width: 50px;
	position: fixed;
	left: 20px;
	margin: 0 auto;
	-webkit-transition: all 1s ease;
	-moz-transition: all 1s ease;
	-ms-transition: all 1s ease;
	-o-transition: all 1s ease;
	transition: all 1s ease;
}
.btn-nav:focus{ 
	outline: none; 
}
.middle{ 
	margin: 0 auto; 
}
.bar{
	-webkit-transition: all .7s ease;
	-moz-transition: all .7s ease;	  
	-ms-transition: all .7s ease;
	-o-transition: all .7s ease;
	transition: all .7s ease;
}
.animated{ 
	z-index: 999; 
}
.animated .arrow-top-r{
	-webkit-transform: rotateZ(-45deg) translateY(11px);
	-moz-transform: rotateZ(-45deg) translateY(11px);
	-ms-transform: rotateZ(-45deg) translateY(11px);
	-o-transform: rotateZ(-45deg) translateY(11px);
	transform: rotateZ(-45deg) translateY(11px);
	width: 25px;
}
.animated .arrow-middle-r{
	-webkit-transform: translateX(25px);
	-moz-transform: translateX(25px);
	-ms-transform: translateX(25px);
	-o-transform: translateX(25px);
	 transform: translateX(25px);
	}
.animated .arrow-bottom-r {
	-webkit-transform: rotateZ(45deg) translateY(-11px);
	-moz-transform: rotateZ(45deg) translateY(-11px);
	-ms-transform: rotateZ(45deg) translateY(-11px);
	-o-transform: rotateZ(45deg) translateY(-11px);
	transform: rotateZ(45deg) translateY(-11px);
	width: 25px;
	}